<span class="snippet package-snippet is-academic-{{ package.is_academic }}"
     ng-controller="packageSnippetCtrl">

    <span class="left-metrics is-academic"
          ng-show="package.is_academic"
          popover-trigger="mouseenter"
          popover-placement="bottom"
         popover-template="'snippet/package-impact-popover.tpl.html'">

      <div class="vis impact-stick">
            <div ng-repeat="subscore in package.subscores"
                 class="bar-inner {{ subscore.name }}"
                 style="width: {{ subscore.percentile * 33.3333 }}%;">
            </div>
        </div>

      <div class="rank">
         <span class="val">
            {{ format.round(package.impact_percentile * 100) }}
         </span>
      </div>

   </span>


    <span class="left-metrics not-academic"
          ng-show="!package.is_academic"
          popover="Based on name, tags, and description, we're guessing this isn't research software—so we haven't collected detailed impact info."
          popover-placement="bottom"
          popover-trigger="mouseenter">
        <span class="non-research">
            non- research
        </span>

    </span>


   <span class="metadata is-academic-{{ package.is_academic }}">
      <span class="name-container">

         <span class="icon">
            <span class="language-icon r"
                  ng-if="package.language=='r'">
               R
            </span>
            <span class="language-icon python"
                  ng-if="package.language=='python'">
               py
            </span>
         </span>


         <a class="name" href="package/{{ package.language }}/{{ package.name }}">
            {{ package.name }}
         </a>
         <i popover-title="Research software"
            popover-trigger="mouseenter"
            popover="We decide projects are research software based on their names, tags, and summaries."
            ng-show="package.is_academic"
            class="is-academic fa fa-graduation-cap"></i>


         <span class="contribs">
            <span class="by">by</span>
            <a href="person/{{ contrib.id }}"
               popover="{{ contrib.name }}"
               popover-trigger="mouseenter"
               class="contrib"
               ng-repeat="contrib in package.top_contribs | orderBy: '-credit' | limitTo: 3">{{ contrib.single_name }}<span
                       ng-hide="{{ $last }}"
                       class="comma">, </span></a><a class="contrib plus-more"
               href="package/{{ package.language }}/{{ package.name }}"
                  popover="click to see all {{ package.num_contribs }} contributors"
                  popover-trigger="mouseenter" ng-show="package.num_contribs > 3">,
               and {{ package.num_contribs - 3 }} others
            </a>
         </span>



      </span>
      <span class="summary">{{ package.summary }}</span>
   </span>



</span>


