<span class="snippet person-snippet"
     ng-controller="personSnippetCtrl">
   <span class="left-metrics"
         popover-placement="top"
         popover-title="Impact"
         popover-trigger="mouseenter"
         popover-template="'snippet/person-impact-popover.tpl.html'">


      <div class="vis impact-stick">
         <div class="bar-inner {{ subscore.name }}"
              style="width: {{ subscore.percentile * 33.33333 }}%;"
              ng-repeat="subscore in person.subscores">
         </div>
      </div>

      <span class="rank">
         {{ format.round(person.impact_percentile * 100) }}
      </span>

   </span>


   <span class="metadata">
      <span class="name-container">


         <span class="icon">
            <img class="person-icon" src="{{ person.icon_small }}" alt=""/>
         </span>



         <a class="name" href="person/{{ person.id }}">
            {{ person.name }}
         </a>


         <span class="person-packages">
            <span class="works-on">{{ person.num_packages }} packages including: </span>
            <span class="package" ng-repeat="package in person.person_packages | orderBy: '-person_package_impact'">
               <a href="package/{{ package.language }}/{{ package.name }}">
                  {{ package.name }}</a><span class="sep" ng-show="!$last">,</span>
            </span>
         </span>
      </span>

      <span class="summary tags">
         <span class="tags">
            <a href="tag/{{ format.doubleUrlEncode(tag.name) }}"
               class="tag"
               ng-repeat="tag in person.top_person_tags | orderBy: '-count'">
               {{ tag.name }}
            </a>
         </span>






      </span>
   </span>




</span>


