<div class="page person">



    <div class="person-header row">
        <img class="avatar" ng-src="{{ person.picture }}" alt=""/>

        <div class="bio">
            <h2 class="name">
               {{ person.given_names }} {{ person.family_name }}
            </h2>
            <div class="aff">
                <span class="institution">{{ person.affiliation_name }}</span>
                <span class="role">
                    {{ person.affiliation_role_title }}
                </span>
            </div>
            <div class="accounts">
                <a href="http://twitter.com/{{ person.twitter }}"
                   ng-show="person.twitter"
                   class="twitter">
                    <i class="fa fa-twitter"></i>
                    Twitter
                </a>
                <a href="http://depsy.org/{{ person.depsy }}"
                        ng-show="person.depsy">
                    Depsy
                </a>
            </div>

        </div>

    </div>

    <div class="person-main row">
        <div class="scores-col col-md-4">
            <div class="main-score {{ person.belt }}belt">
                <span class="score-value">
                    {{ numFormat.short(person.altmetric_score) }}
                </span>
                <span class="score-label">
                    online impact
                </span>
            </div>

            <div class="score-belt {{ person.belt }}belt">
                {{ person.belt }} belt
            </div>

            <div class="sources-list">
                <div class="source" ng-repeat="source in person.sources | orderBy: '-posts_count'">
                    <span class="name">{{ source.display_name }}</span>
                    <span class="last-week">
                        <span class="show"
                              tooltip="{{ source.events_last_week_count }} new this week"
                              ng-show="source.events_last_week_count">
                            <i class="fa fa-arrow-up"></i>
                        </span>
                    </span>
                    <span class="value">
                        {{ numFormat.short(source.posts_count) }}
                    </span>
                </div>


            </div>

        </div>
        <div class="main-col col-md-8">
            <!--
            <h3>
                <span class="count">{{ person.badges.length }} </span>
                <span class="name">
                    badges
                </span>
            </h3>
            -->
            <div class="badges row">
                <div class="badge-col col col-md-4 badge-level-{{ badgeCol.level }}"
                     ng-repeat="badgeCol in badgeCols">
                    <h4 class="badge-level-{{ badgeCol.level }}">
                        <span class="count">{{ badgeCol.list.length }}</span>
                        <span class="name">
                            {{ badgeCol.level}} badge<span ng-hide="badgeCol.list.length==1">s</span>
                        </span>
                    </h4>
                    <div class="badges-list">
                        <div class="ti-badge badge-level-{{ badge.level }}"
                             ng-repeat="badge in badgeCol.list">
                            <i class="fa fa-circle badge-level-{{ badge.level }}"></i>
                            <span class="name">
                                {{ badge.display_name }}
                            </span>
                            <div class="count" ng-show="badge.dois.length">
                                &times;{{ badge.dois.length }}
                            </div>

                        </div>
                    </div>

                </div>


            </div>
            <div class="products row">
                <table>
                    <thead>
                        <th class="biblio"></th>
                        <th class="sources"></th>
                        <tn class="score"></tn>
                    </thead>
                    <tbody>
                        <tr ng-repeat="product in person.products">
                            <td class="biblio">
                                {{ product.title }}
                            </td>
                            <td class="sources">
                                icons go here
                            </td>
                            <td class="score">
                                {{ product.altmetric_score }}
                            </td>


                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>

</div>

