# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/

# jason commented this one out because breaks static/dist
# dist/

local_data/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
*.temp*

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# venv
venv/

# IDE (added by jason)
.idea/

# sqlite (added by heather)
*.sqlite

# env setup (added by heather)
tng-env.sh

# private keys (added by heather)
*.pem

# node modules used in Grunt
static/node_modules

# CodeKit. Cannot seem to make this work :(
*codekit*
codekit*
codekit-config.json
static/codekit-config.json

# for markdown previews
README_cache

# local environment files (added by heather)
*.env

# raw doaj files (added by heather)
data/doaj_20*.csv
