div.landing {
   h1 {
      margin-top: 150px;
      text-align: center;
      img {
         width: 350px;
      }
   }

   form.create-profile {
      margin: 60px auto;
      width: 500px;
      div.submit-btn-container {
         text-align: center;
      }
   }
}


div.profile-page {
   div.header {
      h2 {
         text-align: center;
      }
   }
   div.articles-section {
      width: 1000px;
      margin: 100px auto;
      ul.articles {
         li.article {
            clear:both;
            float: left;
            padding-bottom: 30px;
            div.metrics {
               float: left;
               width: 100px;
               text-align: right;
               padding-right: 20px;
               a.percentile {
                  font-size: 30px;
                  color: #333;
                  &:hover {
                     text-decoration: none;
                     color: dodgerblue;
                  }

               }
            }
            div.article-biblio {
               width: 800px;
               float: left;
               span.title {
                  display:block;
                  font-size: 16px;
               }
               span.under-title {
                  color: #555;
               }
               span.journal {
                  font-style: italic;
               }
               a.linkout {
                  color: #555;
                  margin-left: 5px;
               }
            }
         }
      }
   }

}