div.landing {
   h1 {
      margin-top: 150px;
      text-align: center;
      img {
         width: 350px;
      }
   }

   form.create-profile {
      margin: 60px auto;
      width: 500px;
      div.submit-btn-container {
         text-align: center;
      }
   }


}