<div class="landing">
   <h1><img src="static/img/impactstory-biomed.png" alt="Impactstory Biomed"/></h1>

   <form class="create-profile" ng-submit="makeProfile()">

      <div class="form-group">
         <input type="text"
                autofocus="autofocus"
                class="form-control input-lg"
                ng-model="newProfile.name"
                placeholder="What is your name?"/>

      </div>

      <div class="form-group">
         <textarea class="form-control input-lg"
                   ng-model="newProfile.pmids"
                   placeholder="What are your PubMed IDs?"
                   rows="5"></textarea>

      </div>


      <div class="core-journals">
         <h3>What are the core journals in your field?</h3>
         <ul class="core-journals-list">
            <li class="core-journal"
                ng-form="coreJournalForm"
                ng-repeat="coreJournal in newProfile.coreJournals">
               <div class="form-group">
                  <input name="core-journal-name"
                         class="form-control input-lg"
                         type="text"
                         placeholder="Journal name"
                         ng-model="coreJournal.name"
                         typeahead="name for name in getJournalNames($viewValue)"
                         typeahead-editable="false"
                         required />
               </div>
            </li>
         </ul>
         <span class="btn btn-default btn-sm add-core-journal" ng-click="addCoreJournal()">
            <i class="fa fa-plus"></i>
            Add a journal
         </span>
      </div>







      <div class="submit-btn-container">
         <button type="submit" class="btn submit btn-lg btn-default">
            Find my impact
         </button>
      </div>

   </form>




</div>




