<div class="page entity-page package-page">


    <div class="ti-page-sidebar">
        <div class="sidebar-header">

            <div class="about">
                <div class="meta">
               <span class="name">
                  {{ package.name }}
                   <i popover-title="Research software"
                      popover-trigger="mouseenter"
                      popover="We decide if something is research software based on language, as well as words in project tags, titles, and summaries."
                      ng-show="package.is_academic"
                      class="is-academic fa fa-graduation-cap"></i>
               </span>

                    <div class="summary">
                        {{ package.summary }}
                    </div>
                </div>
                <div class="links">
                    <a class="language-icon r"
                       href="https://cran.r-project.org/web/packages/{{ package.name }}/index.html"
                       ng-if="package.language=='r'">
                        R
                    </a>
                    <a class="language-icon python"
                       href="https://pypi.python.org/pypi/{{ package.name }}"
                       ng-if="package.language=='python'">
                        py
                    </a>
                    <a class="github"
                       ng-show="package.github_repo_name"
                       href="http://github.com/{{ package.github_owner }}/{{ package.github_repo_name }}">
                        <i class="fa fa-github"></i>
                    </a>
                </div>
            </div>
        </div>



        <div class="sidebar-section tags" ng-if="package.tags.length">
            <h3>Tags</h3>
            <div class="tags">
                <a class="tag"
                   href="tag/{{ format.doubleUrlEncode(tag) }}"
                   ng-repeat="tag in package.tags">
                    {{ tag }}
                </a>
            </div>
        </div>



        <div class="sidebar-section top-contribs">
            <h3>{{ package.all_contribs.length }} contributors</h3>
            <div class="contrib"
                 ng-repeat="person_package in package.top_contribs | orderBy: '-credit'">
                <wheel popover-right="true"></wheel>

                  <div class="vis impact-stick">
                      <div class="none" ng-show="person_package.subscores.length == 0">
                          none
                      </div>
                     <div class="bar-inner {{ subscore.name }}"
                          style="width: {{ subscore.percentile * 33.33333 }}%;"
                          ng-repeat="subscore in person_package.subscores">
                     </div>
                  </div>

                <!--
                <img class="person-icon" src="{{ person_package.icon_small }}" alt=""/>
                -->

                <a class="name" href="person/{{ person_package.id }}">{{ person_package.name }}</a>
            </div>

            <span class="plus-more btn btn-default btn-xs"
                  ng-show="package.all_contribs.length > package.top_contribs.length"
                  ng-click="apiOnly()">
                <i class="fa fa-plus"></i>
                <span class="val">{{ package.all_contribs.length - package.top_contribs.length }}</span> more
            </span>

        </div>




        <div class="sidebar-section actions">
            <a class="json-link btn btn-default"
               target="_self"
               href="api/package/{{ package.host }}/{{ package.name }}">
                <i class="fa fa-cogs"></i>
                View in API
            </a>

            <badge entity="package/{{ package.host }}/{{ package.name }}"></badge>



            <!--
         <a href="https://twitter.com/share?url={{ encodeURIComponent('http://google.com') }}" >Tweet</a>
         -->


        </div>


    </div>


    <div class="ti-page-body">


        <div class="subscore package-page-subscore overall is-academic-{{ package.is_academic }}">
            <div class="body research-package">
                <div class="metrics">
                    <span class="package-percentile">
                        {{ format.round(package.impact_percentile * 100) }}
                    </span>
                    <span class="ti-label">
                        percentile impact overall
                    </span>
                </div>
                <div class="explanation">
                    Compared to all research software on
                    <span class="repo cran" ng-show="package.host=='cran'">CRAN</span>
                    <span class="repo PyPi" ng-show="package.host=='pypi'">PyPI</span>,
                    based on relative
                    <span class="num_downloads">downloads,</span>
                    <span class="pagerank">software reuse,</span> and
                    <span class="num_mentions">citation.</span>
                </div>
            </div>

            <div class="body non-research-package">
                <div class="heading">
                    Not research software
                </div>
                <div class="explanation">
                    Based on name, tags, and description, we're guessing this isn't
                    research software—so we haven't calculated impact percentile information. <br>
                    <a class="btn btn-default btn-xs" href="https://github.com/Impactstory/depsy/issues">did we guess wrong?</a>
                </div>

            </div>

        </div>

        <div class="subscore package-page-subscore {{ subscore.name }}"
             ng-repeat="subscore in package.subscores">
            <h3>
                <i class="fa {{ subscore.icon }}"></i>
                {{ subscore.display_name }}
            </h3>
            <div class="body">
                <div class="metrics">
                    <div class="impact-stick vis" ng-show="package.is_academic">
                        <div class="bar-inner {{ subscore.name }}" style="width: {{ subscore.percentile * 100 }}%">
                        </div>

                    </div>
                    <span class="main-metric" ng-show="subscore.name=='pagerank'">
                        {{ format.short(subscore.val, 2) }}
                    </span>
                    <span class="main-metric" ng-show="subscore.name != 'pagerank'">
                        {{ format.short(subscore.val) }}
                    </span>
                    <span class="percentile" ng-show="package.is_academic">
                        <span class="val">
                            {{ format.round(subscore.percentile * 100) }}
                        </span>
                        <span class="descr">
                            percentile
                        </span>
                    </span>
                </div>

                <div class="explanation">
                    <div class="citations-explanation" ng-show="subscore.name=='num_mentions'">
                        <p>
                            Based on term searches in <br>
                                <span class="citation-link" ng-repeat="link in package.citations_dict">
                                    <a href="{{ link.url }}">{{ link.display_name }} ({{ link.count }})</a>
                                    <span class="and" ng-show="!$last">and</span>
                                </span>
                        </p>
                        <p>
                            <a href="https://github.com/Impactstory/depsy-research/blob/master/introducing_depsy.md#literature-reuse">
                                Read more about how we got this number.
                            </a>
                        </p>
                    </div>
                    <div class="downloads-explanation" ng-show="subscore.name=='num_downloads'">
                        Based on latest monthly downloads stats from
                        <span class="repo cran" ng-show="package.host=='cran'">CRAN.</span>
                        <span class="repo PyPi" ng-show="package.host=='pypi'">PyPI.</span>
                    </div>
                    <div class="pagerank-explanation" ng-show="subscore.name=='pagerank'">
                        <p>
                            Measures how often this package is imported by

                            <span class="repo cran" ng-show="package.host=='cran'">CRAN</span>
                            <span class="repo PyPi" ng-show="package.host=='pypi'">PyPI</span>
                            and GitHub projects, based on its PageRank in the dependency network.

                        </p>
                        <p>
                            <a href="https://github.com/Impactstory/depsy-research/blob/master/introducing_depsy.md#software-reuse">
                                Read more about what this number means.
                            </a>
                        </p>


                    </div>
                </div>


            </div>






            <!-- Top Importers. This is just for the pagerank subscore -->
            <div class="top-importers" ng-show="subscore.name=='pagerank' && package.indegree">
                <h4>
                    <i class="fa fa-recycle"></i>
                    Reused by <span class="details">{{ package.indegree }} projects</span>
                </h4>

                <div class="dep-container"
                     ng-repeat="dep in package.top_neighbors | orderBy: ['-is_github', '-impact']">


                    <!-- CRAN or PyPI package -->
                    <div class="package dep" ng-if="dep.host">
                        <div class="top-line">

                            <div class="left-metrics is-academic" ng-show="dep.is_academic">
                                <div class="vis impact-stick is-academic-{{ dep.is_academic }}">
                                    <div ng-repeat="subscore in dep.subscores"
                                         class="bar-inner {{ subscore.name }}"
                                         style="width: {{ subscore.percentile * 33.333 }}%;">
                                    </div>
                                </div>
                            </div>


                            <span class="left-metrics not-academic"
                                  ng-show="!dep.is_academic"
                                  popover="Based on name, tags, and description, we're guessing this isn't research software—so we haven't collected detailed impact info."
                                  popover-trigger="mouseenter">
                                <span class="non-research">
                                    non- research
                                </span>

                            </span>


                            <a class="name" href="package/{{ dep.language }}/{{ dep.name }}">
                                {{ dep.name }}
                            </a>

                            <i popover-title="Research software"
                               popover-trigger="mouseenter"
                               popover="We decide projects are research software based on their names, tags, and summaries."
                               ng-show="dep.is_academic"
                               class="is-academic fa fa-graduation-cap"></i>
                        </div>
                        <div class="underline">
                            {{ dep.summary }}
                        </div>
                    </div>

                    <!-- GitHub repo -->
                    <div class="github dep" ng-if="!dep.host">
                        <div class="top-line">
                            <div class="vis"
                                 popover-trigger="mouseenter"
                                 popover="{{ dep.stars }} GitHub stars">
                                {{ dep.stars }}
                                <i class="fa fa-star"></i>
                            </div>

                            <span class="name">
                                <a href="http://github.com/{{ dep.login }}/{{ dep.repo_name }}"
                                   popover-trigger="mouseenter"
                                   popover="Depsy only indexes packages distributed via CRAN or PyPI, but you can view this project on GitHub."
                                   class="github-link">
                                    <i class="fa fa-github"></i>
                                    {{ dep.repo_name }}
                                </a>
                            </span>
                        </div>
                        <div class="underline">
                            {{ dep.summary }}
                        </div>
                    </div>
                </div> <!-- end this dep -->

                <span class="plus-more btn btn-default btn-xs"
                      ng-show="package.indegree > package.top_neighbors.length"
                      ng-click="apiOnly()">
                    <i class="fa fa-plus"></i>
                    <span class="val">{{ package.indegree - package.top_neighbors.length }}</span> more
                </span>

            </div> <!-- end of the dep list widget -->
        </div>
    </div>
</div>
