<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <base href="/"> <!-- needed for html5 pretty urls -->
   <meta charset="utf-8">
   <title>depsy</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <link rel="icon" href="static/img/favicon.png">

   <!-- Load stylesheets -->
   <!-------------------------------------------------------------------------->
   <!--[if lt IE 9]>
   <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/89f2f44ba07ea3fff7e561c2142813b278c2d6c6/devicon.min.css">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
   <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">


   <!-- bower stylesheets -->

   <!-- our stylesheet -->
   <link href="/static/main.css" rel="stylesheet">






   <!-- Load scripts -->
   <!-------------------------------------------------------------------------->

   <!-- external libs -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>



</head>
<body class="coming-soon">

   <div class="logo"><img src="static/img/logo-white-big.png"/></div>
   <div class="tagline">
      <div class="main">
         Uncover the impact of research software.
      </div>
   </div>
   <div class="cta">

      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
         <form action="//impactstory.us4.list-manage.com/subscribe/post?u=26fcc4e14b24319755845d9e0&amp;id=c9dd1339cd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>

            <div id="mc_embed_signup_scroll" class="input-group">
               <input class="form-control text-input" type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email me when it's ready" required>
               <span class="input-group-btn">
                  <input class="btn btn-default" type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
               </span>

               <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
               <div style="position: absolute; left: -5000px;"><input type="text" name="b_26fcc4e14b24319755845d9e0_c9dd1339cd" tabindex="-1" value=""></div>
            </div>
         </form>
      </div>
      <!--End mc_embed_signup-->
   </div>
   <div class="contact">
      <a class="twitter contact-link" href="http://twitter.com/depsy_org">
         <i class="fa fa-twitter"></i>
         @depsy_org
      </a>
      <a class="github contact-link" href="http://github.com/total-impact/depsy">
         <i class="fa fa-github"></i>
         total-impact/depsy
      </a>
   </div>



</body>
</html>