<html ng-app="app" ng-controller="AppCtrl" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <base href="/"> <!-- needed for html5 pretty urls -->
   <meta charset="utf-8">
   <title>Impactstory Biomed</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">


   <!-- Load stylesheets -->
   <!-------------------------------------------------------------------------->
   <!--[if lt IE 9]>
   <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
   <![endif]-->
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
   <link href="/static/main.css" rel="stylesheet">








   <!-- Load scripts -->
   <!-------------------------------------------------------------------------->

   <!-- external libs -->
   <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.1/jquery-ui.min.js"></script>

   <!-- angular -->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script>

   <!-- angular libraries -->
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-route.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-sanitize.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-animate.min.js"></script>
   <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular-cookies.min.js"></script>
   <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.0.js"></script>




   <!-- compiled scripts from our sources -->
   <!--
   <script type="text/javascript" src="{{ url_for('static', filename='dist/angular-libs.js') }}"></script>
   -->
   <script type="text/javascript" src="{{ url_for('static', filename='dist/ti.js') }}"></script>


</head>
<body>

   <div ng-view class="main-view container-fluid"></div>

</body>
</html>