<!doctype html>
<html ng-app="app" ng-controller="AppCtrl" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <base href="/"> <!-- needed for html5 pretty urls -->
   <meta charset="utf-8">
   <title>Impactstory: The Next Generation</title>
   <meta name="viewport" content="initial-scale=1" />

   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   <link href="/static/dist/main.css" rel="stylesheet">
   <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />

</head>

{% raw %}
<body ng-cloak>

   <div class="ti-nav">
      <h1>
         <a href="/">
            <img src="static/img/impactstory-logo-white.png" alt="Impactstory">
         </a>
      </h1>

      <span class="controls logged-in" ng-show="auth.isAuthenticated()">
         <a class="profile-link" href="u/{{ auth.getPayload().sub }}">
            <span class="hi">hi,</span>
            <span class="name">{{ auth.isAuthenticated && auth.getPayload().given_names }}</span>
         </a>
         <a class="settings-link" href="me/settings">
            <i class="fa fa-gear"></i>
         </a>
         <a ng-click="auth.logout()" href="">
            <i class="fa fa-sign-out"></i>
         </a>
      </span>

      <span class="controls not-logged-in" ng-show="!auth.isAuthenticated()">
         <a href="" ng-click="authenticate()" class="login-btn">Log in</a>
      </span>

   </div>

   <div class="main-view container-fluid" ng-view></div>


   <div class="container-fluid" ng-show="global.showBottomStuff">
      <div id="site-footer" class="row logged-in-{{ auth.isAuthenticated() }}">
         <div class="col-md-5 links">
            <a href="about">About</a>
            <a href="http://twitter.com/impactstory">Twitter</a>
            <a href="https://github.com/Impactstory/impactstory-tng">Github</a>
            <a href="mailto:team@impactstory.org">Email</a>
         </div>
         <div class="col-md-2 logo">
            <a href="/">
               <img src="static/img/impactstory-symbol.png">
            </a>
         </div>
         <div class="col-md-5 funders">
            Supported by the
            <span class="funder">National Science Foundation</span>
            <span class="funder second">and Alfred P. Sloan Foundation</span>
         </div>
      </div>

   </div>

   <div id="pitch-banner" ng-show="!auth.isAuthenticated() && global.showBottomStuff">
      <span class="pitch">
         Discover the online impact of your research.
      </span>
      <a href="/" class="btn btn-primary btn-sm">Join for free</a>
   </div>


   <!-- PUBLICATION ITEM -->
   <script type="text/ng-template" id="publication-item.tpl.html">
        <div class="publication view-item">
            <div class="icon">
                <i class="fa fa-file-text-o"></i>
            </div>

            <div class="content">
                <div class="title">
                    <a href="u/{{person.orcid_id}}/product/doi/{{ product.doi }}">{{ product.title }}</a>
                    <span class="extra">
                        <md-tooltip md-direction="top">
                            Altmetric.com score
                        </md-tooltip>
                        {{ numFormat.short(product.altmetric_score) }}
                        <i class="fa fa-arrow-up" ng-show="product.events_last_week_count > 0"></i>
                    </span>
                </div>
                <div class="under">
                    <span class="year date">{{ product.year }}</span>
                    <span class="attr">
                        {{ product.journal }}
                        <span class="oa-icon oa-journal" ng-show="product.is_oa_journal">
                            <md-tooltip>
                                This is an Open Access journal
                            </md-tooltip>
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                        <span class="oa-icon oa-journal" ng-show="product.is_oa_repository">
                            <md-tooltip>
                                This is an open-access repository
                            </md-tooltip>
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                    </span>
                </div>
                <div class="source-icons">
            <span class="source-icon"
                  ng-repeat="source in product.sources | orderBy: 'display_name'">
                <md-tooltip md-direction="top">
                    {{ source.posts_count }} {{source.display_name }}
                </md-tooltip>
                <img ng-src="/static/img/favicons/{{ source.source_name }}.ico" class="{{source.source_name}}">
            </span>
                </div>
            </div>
        </div>
   </script>


   <!-- BADGE ITEM -->
   <script type="text/ng-template" id="badge-item.tpl.html">
        <div class="achievement view-item">
            <div class="icon">
                <i class="fa {{ getBadgeIcon(badge.group) }}"></i>
            </div>
            <div class="content">
                <div class="title">
                    <a href="/u/{{ person.orcid_id }}/badge/{{ badge.name }}">
                        {{badge.display_name}}
                    </a>
                </div>
                <div class="under">
                    {{ badge.description }}
                </div>
            </div>
        </div>
   </script>


   <!-- MENTION ITEM -->
   <script type="text/ng-template" id="mention-item.tpl.html">
        <div class="mentions view-item">
            <div class="icon">
                <img ng-src="/static/img/favicons/{{ post.source }}.ico">
            </div>
            <div class="content">
                <div class="title">
                    <a href="{{ post.url }}">
                        {{post.title}}
                        <i class="fa fa-external-link"></i>
                    </a>
                </div>
                <div class="under">
                    <span class="date">
                        <md-tooltip>
                            Posted on
                            {{ moment(post.posted_on).format("dddd, MMMM Do YYYY, h:mm:ss a") }}
                        </md-tooltip>

                        <span class="human-readable">
                            {{ moment(post.posted_on).fromNow() }}
                        </span>
                    </span>
                    <span class="attr">{{post.attribution}}</span>
                    cited
                    <a href="/u/{{person.orcid_id}}/product/doi/{{ post.citesDoi }}">
                        {{ post.citesTitle }}
                    </a>
                </div>
            </div>
        </div>
   </script>

   <!-- TWEETER ITEM -->
   <script type="text/ng-template" id="tweeter-item.tpl.html">
        <div class="tweeters view-item">
            <div class="icon">
                <img ng-src="{{ tweeter.img }}">
            </div>
            <div class="content">
                <div class="title">
                    <a href="{{ tweeter.url }}">
                        {{tweeter.name}}
                    </a>
                    <span class="extra">
                        <span class="count">
                            {{  numFormat.short(tweeter.followers) }}
                        </span>
                        followers
                    </span>
                </div>
                <div class="under">
                    <span class="attr">{{tweeter.description}}</span>
                </div>
            </div>
        </div>
   </script>


   <!-- CHANNELS LIST -->
   <script type="text/ng-template" id="channels-list.tpl.html">
       <div class="channels-list">

           <!-- individual channel filters -->
           <div class="channel all"
                ng-class="{selected: viewThisChannel===undefined}"
                ng-click="setChannelFilter('all')">

            <span class="look-left" ng-show="viewThisChannel===undefined">
                <i class="fa fa-chevron-left"></i>
            </span>
           <span class="favicon">
                <i class="fa fa-share-alt"></i>
            </span>
               <span class="name">All mentions</span>
            <span class="icon-right">
                <span class="new-last-week"
                      tooltip="{{ channel.events_last_week_count }} new this week"
                      ng-show="channel.events_last_week_count">
                    <i class="fa fa-arrow-up"></i>
                </span>
            </span>
            <span class="value">
                {{ numFormat.short(posts.length + tweeters.length) }}
            </span>
           </div>

           <!-- individual channel filters -->
           <div class="channel last-real-channel-{{ $last }} first-real-channel-{{ $first }}"
                ng-class="{selected: viewThisChannel==channel.source_name}"
                ng-click="setChannelFilter(channel.source_name)"
                ng-repeat="channel in sources | orderBy: '-posts_count'">

            <span class="look-left" ng-show="viewThisChannel==channel.source_name">
                <i class="fa fa-chevron-left"></i>
            </span>
           <span class="favicon">
                <img ng-src="/static/img/favicons/{{ channel.source_name }}.ico">
            </span>
               <span class="name">{{ channel.display_name }}</span>
            <span class="icon-right">
                <span class="new-last-week"
                      tooltip="{{ channel.events_last_week_count }} new this week"
                      ng-show="channel.events_last_week_count">
                    <i class="fa fa-arrow-up"></i>
                </span>
            </span>
            <span class="value">
                {{ numFormat.short(channel.posts_count) }}
            </span>
           </div>
       </div>
   </script>



{% endraw %}










   <!-- load our javascript -->
   <script>
      var stripePublishableKey = "{{ stripe_publishable_key }}"

   </script>

   <!-- Angular and Angular-ecosystem dependencies  -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-resource.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

   <!-- externally hosted libs outside the Angular ecosystem -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
   <script src="//cdn.jsdelivr.net/satellizer/0.13.3/satellizer.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
   <script src="https://checkout.stripe.com/checkout.js"></script>
   <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/z93rnxrs';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

   <!-- locally-hosted JS: first 3rd-party libs and then finally, our actual app -->
   <script type="text/javascript" src="{{ url_for('static', filename='vendor/ng-progress.js') }}"></script>
   <script type="text/javascript" src="{{ url_for('static', filename='dist/ti.js') }}"></script>

   {% if is_local %}
   <!-- if we're developing locally, enable autoreload. -->
   <script src="//localhost:35729/livereload.js"></script>
   {% endif %}
</body>
</html>


