{% raw %}<!doctype html>
<html ng-app="app" ng-controller="AppCtrl" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
   <base href="/"> <!-- needed for html5 pretty urls -->
   <meta charset="utf-8">
   <title ng-bind-html="pageTitle()" >Impactstory: Discover the online impact of your research</title>
   <meta name="viewport" content="initial-scale=1" />

   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
   <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
   <link href="/static/dist/main.css" rel="stylesheet">
   <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />

</head>


<body ng-cloak>

   <div class="ti-nav">
      <h1>
         <a href="/">
            <img src="static/img/impactstory-logo-white.png" alt="Impactstory">
         </a>
      </h1>

      <span class="controls logged-in" ng-show="auth.isAuthenticated()">
         <a class="profile-link" href="u/{{ auth.getPayload().sub }}">
            <span class="hi">hi,</span>
            <span class="name">{{ auth.isAuthenticated && auth.getPayload().given_names }}</span>
         </a>
         <a class="settings-link" href="me/settings">
            <i class="fa fa-gear"></i>
         </a>
         <a ng-click="auth.logout()" href="">
            <i class="fa fa-sign-out"></i>
         </a>
      </span>

      <span class="controls not-logged-in" ng-show="!auth.isAuthenticated()">
         <a href="" ng-click="authenticate()" class="login-btn">Log in</a>
      </span>

   </div>

   <div class="main-view container-fluid" ng-view></div>


   <div class="container-fluid" ng-show="global.showBottomStuff">
      <div id="site-footer" class="row logged-in-{{ auth.isAuthenticated() }}">
         <div class="col-md-5 links">
            <a href="about">About</a>
            <a href="http://twitter.com/impactstory">Twitter</a>
            <a href="https://github.com/Impactstory/impactstory-tng">GitHub</a>

         </div>
         <div class="col-md-2 logo">
            <a href="/">
               <img src="static/img/impactstory-symbol.png">
            </a>
         </div>
         <div class="col-md-5 funders">
            Supported by the
            <span class="funder">National Science Foundation</span>
            <span class="funder second">and Alfred P. Sloan Foundation</span>
         </div>
      </div>

   </div>

   <div id="pitch-banner" ng-show="!auth.isAuthenticated() && global.showBottomStuff">
      <span class="pitch">
         Discover the online impact of your research.
      </span>
      <a href="/" class="btn btn-primary btn-sm">Join for free</a>
   </div>

   <div ng-include="'loading.tpl.html'" ng-show="global.personIsLoading"></div>







   <!-- PUBLICATION ITEM -->
   <script type="text/ng-template" id="publication-item.tpl.html">
        <div class="publication view-item">
            <div class="icon">
                <md-tooltip md-direction="top">
                    {{ product.genre }}
                </md-tooltip>
                <i class="fa fa-{{ getGenreIcon(product.genre) }}"></i>
            </div>

            <div class="content">
                <div class="title">
                    <a href="u/{{person.orcid_id}}/p/{{ product.id }}">{{ product.title }}</a>
                    <span class="extra publication-score">
                        <md-tooltip md-direction="top">
                            Altmetric.com score
                        </md-tooltip>
                        {{ numFormat.short(product.altmetric_score) }}
                        <i class="fa fa-arrow-up" ng-show="product.events_last_week_count > 0"></i>
                    </span>
                </div>
                <div class="under">
                    <span class="year date">{{ product.year }}</span>
                    <span class="attr">
                        {{ product.journal }}
                        <span class="oa-icon oa-journal" ng-show="product.is_oa_journal">
                            <md-tooltip>
                                This is an Open Access journal
                            </md-tooltip>
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                        <span class="oa-icon oa-journal" ng-show="product.is_oa_repository && !product.is_oa_journal">
                            <md-tooltip>
                                This is an open-access repository
                            </md-tooltip>
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                        <span class="missing-doi" ng-show="!product.doi">
                            <md-tooltip>
                                We may be missing data for this publication
                            </md-tooltip>
                            <i class="fa fa-adjust"></i>
                        </span>
                    </span>
                </div>
                <div class="source-icons" ng-show="product.num_posts">
                    <a href="u/{{ person.orcid_id }}/p/{{ product.id }}" class="sort-score">
                        <span class="val">{{ product.num_posts }}</span>
                        <span class="ti-label">mentions on</span>
                    </a>
                    <span class="source-icon"
                      ng-repeat="source in product.sources | orderBy: 'display_name'">
                        <a href="u/{{ person.orcid_id }}/p/{{ product.id }}/{{ source.source_name }}">
                            <img ng-src="/static/img/favicons/{{ source.source_name }}.ico"
                                 class="{{source.source_name}} channel-icon">
                        </a>
                    </span>
                </div>
            </div>
        </div>
   </script>









   <!-- BADGE ITEM -->
   <script type="text/ng-template" id="badge-item.tpl.html">
        <div class="achievement group-{{ badge.group }} badge-{{ badge.name }} view-item" ng-controller="badgeItemCtrl">

            <div class="icon group-{{ badge.group }}">
                <img ng-src="static/img/badges/{{ badge.name }}.png" alt="">
            </div>

            <div class="content">
                <div class="title group-{{ badge.group }}">
                    <span class="name">{{badge.display_name}}</span>
                    <span class="val extra" ng-show="badge.percentile > .5">
                        <md-tooltip>
                            {{ numFormat.decimalToPerc(badge.percentile) }} percentile
                        </md-tooltip>
                        {{ numFormat.decimalToPerc(badge.percentile) }}
                    </span>
                </div>
                <div class="under">
                    <div class="descr">
                        <span class="short-descr" ng-bind-html="trustHtml(badge.description)"></span>
                        <span class="context" ng-bind-html="trustHtml(badge.context)"></span>
                        <span class="why-it-matters" ng-bind-html="trustHtml(badge.extra_description)"></span>
                    </div>
                    <div class="support">
                        <div class="support-icon" ng-show="badge.support_intro">
                            <i class="fa fa-hand-o-right"></i>
                        </div>
                        <div class="support-content">
                            <span class="intro" ng-bind-html="trustHtml(badge.support_intro)"></span>
                            <span class="items" ng-show="badge.support_items.length">
                                <span class="support-item-repeater"
                                      ng-repeat="itemStr in badge.support_items | limitTo: showMaxItems">
                                    <span class="support-item" ng-bind-html="trustHtml(itemStr)"></span><span ng-show="!$last" class="comma">,</span>
                                </span>
                                <span class="more" ng-click="showMaxItems=99999"
                                      ng-show="badge.support_items.length > 3 && showMaxItems==3">
                                    and {{ badge.support_items.length - 3}} more.
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
   </script>









   <!-- MENTION ITEM -->
   <script type="text/ng-template" id="mention-item.tpl.html">


       <!-- tweet rollup -->
       <div class="mentions view-item tweet-rollup"
            ng-controller="tweetRollupCtrl"
            ng-if="post.source == 'tweetRollup'">
            <div class="icon">
                <img ng-src="/static/img/favicons/twitter.ico">
            </div>
           <div class="content">
               <div class="title" ng-click="showTweets = !showTweets">
                   <i ng-show="showTweets" class="fa fa-minus-square show-hide"></i>
                   <i ng-show="!showTweets" class="fa fa-plus-square show-hide"></i>
                   {{ post.tweets.length }} tweets
                   <span class="extra">click to
                        <span ng-show="showTweets">hide</span>
                        <span ng-show="!showTweets">show</span>
                   </span>
               </div>
               <div class="under">
                    <span class="date-and-attr">
                        {{ moment(post.posted_on).fromNow() }}
                    </span>
               </div>

               <div class="under tweet-summaries" ng-show="showTweets">
                   <div class="tweet-summary" ng-repeat="tweet in post.tweets | orderBy: '-posted_on'">
                       <div class="icon">
                           <i class="fa fa-twitter"></i>
                       </div>
                       <div class="content">
                           <div class="main">
                               <a  href="{{ tweet.url }}" class="post-date">
                                   {{ moment(tweet.posted_on).format('MMM Do') }}
                               </a>
                               <span class="by">by</span>
                               <span class="name">{{ tweet.attribution }}</span>
                               <span class="followers">
                                   <span class="val">{{ numFormat.short(tweet.followers) }}</span> followers
                               </span>
                           </div>
                           <div class="support">
                               <a class="cites-title"
                                  ng-if="tweet.citesTitle"
                                  href="/u/{{person.orcid_id}}/p/{{ tweet.citesPublication }}">
                                   <i class="fa fa-file-text-o"></i>
                                   <!--
                                   <span class="ti-label">on</span>
                                   -->
                                   <short text="tweet.citesTitle"></short>
                                </a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
       </div>


       <!-- regular post -->
        <div class="mentions view-item {{ post.source }}" ng-if="post.source != 'tweetRollup'">
            <div class="icon">
                <img ng-src="/static/img/favicons/{{ post.source }}.ico">
            </div>
            <div class="content">
                <div class="title" ng-show="post.source != 'twitter'">
                    {{post.title}}
                </div>
                <div class="title" ng-show="post.source == 'twitter'">
                    <a href="{{ post.url }}">
                        Tweet from {{post.attribution}}
                        <span class="extra">
                            to
                            <span class="val">
                                {{ numFormat.short(post.followers) }}
                            </span>
                             followers
                        </span>
                        <i class="fa fa-external-link"></i>
                    </a>
                </div>



                <div class="under">
                    <div class="date-and-attr">
                        <span class="date">

                            <span class="ti-label">
                            </span>
                            <a href="{{ post.url }}" class="post-date">
                                {{ moment(post.posted_on).fromNow() }}
                            </a>
                        </span>
                        <span class="ti-label">by</span>
                        <span class="attr">{{post.attribution}}</span>
                    </div>

                    <div class="target">
                        <a href="/u/{{person.orcid_id}}/p/{{ post.citesPublication }}" ng-if="post.citesTitle">
                            <span class="ti-label">
                                <i class="fa fa-file-text-o"></i>
                                <!--
                                <span class="ti-label">on</span>
                                -->
                            </span>
                            <short text="post.citesTitle" len="80"></short>
                        </a>
                    </div>
                </div>
            </div>
        </div>
   </script>

   <!-- TWEETER ITEM -->
   <script type="text/ng-template" id="tweeter-item.tpl.html">
        <div class="tweeters view-item">
            <div class="icon">
                <img ng-src="{{ tweeter.img }}">
            </div>
            <div class="content">
                <div class="title">
                    <a href="{{ tweeter.url }}">
                        {{tweeter.name}}
                    </a>
                    <span class="extra">
                        <span class="count">
                            {{  numFormat.short(tweeter.followers) }}
                        </span>
                        followers
                    </span>
                </div>
                <div class="under">
                    <span class="attr">{{tweeter.description}}</span>
                </div>
            </div>
        </div>
   </script>


   <!-- CHANNELS LIST -->
   <script type="text/ng-template" id="channels-list.tpl.html">
       <div class="channels-list">

           <div class="channel last-real-channel-{{ $last }} first-real-channel-{{ $first }}"
                ng-class="{selected: selectedChannel.source_name==channel.source_name, unselected: selectedChannel && selectedChannel.source_name != channel.source_name}"
                ng-click="toggleSelectedChannel(channel)"
                ng-repeat="channel in sources | orderBy: '-posts_count'">

               <!--
            <span class="look-left" ng-show="viewThisChannel==channel.source_name">
                <i class="fa fa-chevron-left"></i>
            </span>
            -->
           <span class="favicon">
                <img ng-src="/static/img/favicons/{{ channel.source_name }}.ico">
            </span>
               <span class="name">{{ channel.display_name }}</span>
            <span class="icon-right">
                <span class="new-last-week"
                      tooltip="{{ channel.events_last_week_count }} new this week"
                      ng-show="channel.events_last_week_count">
                    <i class="fa fa-arrow-up"></i>
                </span>
            </span>
            <span class="value">
                {{ numFormat.short(channel.posts_count) }}
            </span>
           </div>
       </div>
   </script>



{% endraw %}










   <!-- load our javascript -->
   <script>
      var stripePublishableKey = "{{ stripe_publishable_key }}"

   </script>

   <!-- low-level local libs  -->
   <script type="text/javascript" src="{{ url_for('static', filename='vendor/pluralize.js') }}"></script>

   <!-- Angular and Angular-ecosystem dependencies  -->
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-resource.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-rc.0/angular-sanitize.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>

   <!-- externally hosted libs outside the Angular ecosystem -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.2/underscore-min.js"></script>
   <script src="//cdn.jsdelivr.net/satellizer/0.13.3/satellizer.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.min.js"></script>
   <script src="https://checkout.stripe.com/checkout.js"></script>
   <script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/z93rnxrs';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>

   <!-- our actual app -->
   <script type="text/javascript" src="{{ url_for('static', filename='dist/ti.js') }}"></script>

   {% if is_local %}
   <!-- if we're developing locally, enable autoreload. -->
   <script src="//localhost:35729/livereload.js"></script>
   {% endif %}
</body>
</html>


