<!doctype html>
<html ng-app="app" lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <title>SherlockOA {% block title %}{% endblock %}</title>
    <meta name="viewport" content="initial-scale=1" />


    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" >
    <link href="/static/main.css" rel="stylesheet">
    {#   <link rel="icon" type="image/ico" href="/static/img/favicon.ico" />#}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>


<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">

    <div class="navbar-header">
        <a class="navbar-brand" href="/">SherlockOA</a>

    </div>

    <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
            <li><a href="tests"><i class="fa fa-check"></i> Tests</a></li>
            <li><a href="https://github.com/Impactstory/sherlockoa"><i class="fa fa-github"></i> Code</a></li>
        </ul>
    </div>


    </div>
</nav>
<div class="container">
    {% block content %}{% endblock %}
</div>
<div id="footer">
    SherlockOA is by <a href="http://impactstory.org/about">Impactstory,</a>
    with support from the <a href="http://nsf.gov">NSF</a> and <a href="http://sloan.org">Sloan Foundation</a>.
</div>
</body>