<!DOCTYPE html>
<html>
<head>
    <title>Update on your Unpaywall indexing request</title>
    <!--style type="text/css">
      {{ css }}
   </style-->
    <!--link rel="stylesheet" href="https://impactstory.org/static/less.emails/css/new-metrics.css"/-->
</head>
<body>

<p>
Hi {{ data.repo_name }} at {{ data.institution_name }}!
</p><p>
This is Heather, one of the three people behind the Unpaywall open access database and browser extension.
</p><p>

First I want to thank you for submitting your repository for Unpaywall indexing.  We're really happy you want your repository included in Unpaywall -- repositories are what makes Unpaywall great, and we won't rest until we have them all :)
</p><p>

We've started building status pages to give repository managers more insight into what we've indexed from their repositories. We've got an early version of that page available for your repository now, and we'd like to give you the first peek and chance at feedback.  You can see it here:
</p><p>

<a href="https://unpaywall.org/sources/repository/{{ data.endpoint_id }}">https://unpaywall.org/sources/repository/{{ data.endpoint_id }}</a>
</p><p>

    It'll take a day or two for the data to start appearing.
</p><p>

We'd love your thoughts on both the data, and what it would be helpful for you to see on such a status page.  Please send feedback to me by replying to this email, or at heather@impactstory.org
</p><p>

Thanks!

</p><p>
Best,
    <br/>
Heather

</p>

</body>
</html>

