{% extends "layout.html" %}
{% block title %}Tests{% endblock %}

{% block content %}
   <div class="main">
       <div class="about-tests">
           <h2>Tested {{ tests.results|length }} URLs in {{ tests.elapsed }}s</h2>
           These tests are designed to document and test specific parts of the
           scraping algorithm.  See <a href="https://github.com/Impactstory/oadoi/blob/master/oa_scrape.py">oa_scrape.py</a> for details.
       </div>

       <div class="tests-list failed">
            <ul>
               {% for test in tests.results if not test.passed %}
                <li class="test-result failed">
                    <span class="elapsed">{{ test.elapsed }}s</span>
                    <a class="failed-test" href="{{ test.url }}">{{ test.url }}</a>
                    <ul>
                        <li><strong>expected:</strong> {{ test.display_expected }} </li>
                        <li><strong>returned:</strong> {{ test.display_result }} </li>
                    </ul>
                </li>
               {% endfor %}

            </ul>
       </div>

       <div class="tests-list passed">
            <ul>
               {% for test in tests.results if test.passed %}
                <li class="test-result passed">
                    <span class="elapsed">{{ test.elapsed }}s</span>
                    <span class="is-open"><strong>{{ test.display_result }}</strong></span>
                    <span class="host"><strong>{{ test.host }}</strong></span>
                    <a class="passed-test" href="{{ test.url }}">{{ test.url }}</a>
                </li>
               {% endfor %}

            </ul>
       </div>
   </div>
{% endblock %}


