<!DOCTYPE html>
<html>
<head>
   <title>Impactstory</title>
   <!--style type="text/css">
      {{ css }}
   </style-->
   <!--link rel="stylesheet" href="https://impactstory.org/static/less.emails/css/new-metrics.css"/-->
</head>
<body>


   <div class="body">

    <p>
        Exciting news &mdash; Impactstory just got a whole lot better:

    <ul>
        <li>It is built around ORCID, so is easy to set up and keep up to date.  This also means fewer bugs!</li>
        <li>New <a href="https://impactstory.org/about/achievements">Achievements</a> give you clear evidence of meaningful accomplishments.</li>
        <li>And finally &mdash; it's free!</li>
    </ul>

   More details on our blog post here: <a href="http://blog.impactstory.org/new-better-freer/">http://blog.impactstory.org/new-better-freer/</a>

    <h2>What’s this mean for you?</h2>

    <p>Old Impactstory profiles are still available online, but will be phased out in the future.
        To keep using Impactstory you'll need to make a new profile on the new, free version.</p>

    <p>We’ve refunded your subscription fee for the current year, since profiles are now free.

        (You may also have received a refund for the previous year due to a bug in our run up to launch yesterday.
        If you did, keep it with our compliments and our thanks for being a loyal supporter :)</p>

   <h2>Ready to see your new profile?</h2>
       {% if profile.orcid_id %}
           <p>We’ve gone ahead and created your new, free profile.  Check it out:
           <p><a href='https://impactstory.org/u/{{ profile.orcid_id }}'>https://impactstory.org/u/{{ profile.orcid_id }}</a></p>
       {% else %}
           <p>Since there’s no ORCID listed on your old profile, we couldn't create a new one
               for you automatically.
           But the good news is it now takes just seconds to create your new, free profile using ORCID.
               If you’ve got no ORCID, don’t worry, that’s fast too.
               Get started here: <a href="https://impactstory.org">https://impactstory.org</a>.</p>
       {% endif %}
      <h2>Building a better future</h2>

       <p>We think this new Impactstory the best thing we’ve ever done,
       and it’s a big step towards creating the open science,
       altmetrics-powered future we believe in.
            <b>Thanks building that future with us.</b>
            Looking forward to hearing what you think! </a>

       <p>Best, Jason (<a href="https://impactstory.org/u/0000-0001-6187-6610">https://impactstory.org/u/0000-0001-6187-6610</a>) and Heather (<a href="https://impactstory.org/u/0000-0003-1613-5981">https://impactstory.org/u/0000-0003-1613-5981</a>)
           <br><a href="http://twitter.com/impactstory">@impactstory</a></br>
           <br>team@impactstory.org</br>
        </p>

   </div>
</body>
</html>

