<div class="page about-badges">
    <h2>Impactstory badges</h2>
    <div class="intro">
        <p>Badges help make impactstory more fun, but they also show and important advantage
            of altmetrics: multi-dimensionality. By mining activity across a variety of
            online platforms, we get a since of <em>what kind</em> of impacts research is
            having, not just "how much" on a single arbitrary scale. We've got three
            levels of badges: Gold, Silver, and Bronze.
        </p>
        <div>
            <div class="badge-row row">
                <div class="badge-container col-md-3">
                    <a class="ti-badge badge-level-bronze" href="/about/badges">
                        <i class="fa fa-circle badge-level-bronze"></i>
                        <span class="name">Bronze badge</span>
                    </a>
                </div>
                <div class="descr col-md-9">
                    Bronze badges are relatively easy to get. They're for interesting
                    and fun achievements, and for early progress on more substantive kinds
                    of impacts.
                </div>

            </div>
            <div class="badge-row row">
                <div class="badge-container col-md-3">
                    <a class="ti-badge badge-level-silver" href="/about/badges">
                        <i class="fa fa-circle badge-level-silver"></i>
                        <span class="name">Silver badge</span>
                    </a>
                </div>
                <div class="descr col-md-9">
                    Silver badges are less common, and reflect more impressive achievements.
                    If you got a silver badge, you did something that makes you stand out from the
                    crowd.
                </div>
            </div>
            <div class="badge-row row">
                <div class="badge-container col-md-3">
                    <a class="ti-badge badge-level-gold" href="/about/badges">
                        <i class="fa fa-circle badge-level-gold"></i>
                        <span class="name">Gold badge</span>
                    </a>
                </div>
                <div class="descr col-md-9">
                    Gold badges are rarely awarded, and celebrate major achievements. A gold badge is
                    worth bragging about--most Impactstory users don't any.
                </div>
            </div>

        </div>
    </div>
    <div class="main">
        <div class="badge-aggregation-level" ng-repeat="(aggregationLevelName, badgeGroupsList) in badges">
            <h3 class="aggregation-level-{{aggregationLevelName}}">
                {{ aggregationLevelName }}-level badges
            </h3>

            <div class="badge-group" ng-repeat="badgeGroup in badgeGroupsList">
                <div class="badge-row row" ng-repeat="badge in badgeGroup.badges | orderBy: 'sortLevel'">
                    <div class="badge-container col-md-3">
                        <span class="check-container">

                            <span class="second-check-container">
                                <!--
                                <md-tooltip>You've earned this badge</md-tooltip>
                                -->
                                <i class="check fa fa-check"
                                   title="You've earned this badge"
                                   ng-show="iHaveThisBadge( badge.id )"></i>
                            </span>
                        </span>
                        <a class="ti-badge badge-level-{{ badge.level }}"
                           href="about/badges">
                            <i class="fa fa-circle badge-level-{{ badge.level }}"></i>
                            <span class="name">
                                {{ badge.display_name }}
                            </span>
                        </a>
                    </div>
                    <div class="descr col-md-9">
                        {{ badge.description }}
                    </div>
                </div>
            </div>

        </div>

    </div>









</div>