<div class="page about-badges">
    <h2>Impactstory badges</h2>
    <div class="intro">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis interdum purus
            ac molestie. Sed id posuere sapien. Suspendisse id sem leo. Suspendisse viverra arcu
            imperdiet, pellentesque ligula eu, sagittis nunc. Cras vitae nisi sed ante porta cursus
            non et ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
        </p>
    </div>
    <div class="main">

        <div class="badge-group" ng-repeat="badgeGroup in badgeGroups">
            <div class="about">
                <h4 class="badge-group {{ badgeGroup.name }}">
                    <i class="fa fa-{{ getBadgeIcon(badgeGroup.name) }}"></i>
                    <span class="name">{{ badgeGroup.name }}</span>
                </h4>
                <subscorehelp name="badgeGroup.name"></subscorehelp>
            </div>
            <div class="badges-wrapper row"
                 ng-include="'badge-item.tpl.html'"
                 ng-repeat="badge in badgeGroup.badges | orderBy: 'sortLevel'">

            </div>
        </div>


    </div>









</div>