<div class="page about-badges">
    <h2>Impactstory badges</h2>
    <div class="intro">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas mattis interdum purus
            ac molestie. Sed id posuere sapien. Suspendisse id sem leo. Suspendisse viverra arcu
            imperdiet, pellentesque ligula eu, sagittis nunc. Cras vitae nisi sed ante porta cursus
            non et ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas.
        </p>
    </div>
    <div class="main">
        <div class="badge-aggregation-level" ng-repeat="(aggregationLevelName, badgeGroupsList) in badges">
            <h3 class="aggregation-level-{{aggregationLevelName}}">
                {{ aggregationLevelName }}-level badges
            </h3>

            <div class="badge-group" ng-repeat="badgeGroup in badgeGroupsList">
                <div class="badge-row row" ng-repeat="badge in badgeGroup.badges | orderBy: 'sortLevel'">
                    <div class="badge-container col-md-3">
                        <span class="check-container">

                            <span class="second-check-container">
                                <!--
                                <md-tooltip>You've earned this badge</md-tooltip>
                                -->
                                <i class="check fa fa-check"
                                   title="You've earned this badge"
                                   ng-show="iHaveThisBadge( badge.id )"></i>
                            </span>
                        </span>
                        <a class="ti-badge badge-level-{{ badge.level }}"
                           href="about/badges">
                            <i class="fa fa-circle badge-level-{{ badge.level }}"></i>
                            <span class="name">
                                {{ badge.display_name }}
                            </span>
                        </a>
                    </div>
                    <div class="descr col-md-9">
                        {{ badge.description }}
                    </div>
                </div>
            </div>

        </div>

    </div>









</div>