<div class="top-screen" layout="row" layout-align="center center">
    <div class="content">

        <div class="enter-doi no-doi demo-step"
             ng-class="{'animated fadeOutDown': animation=='2start'}"
             ng-hide="animation=='2start' || animation=='2finish'">

            <h1 class="animation-{{ !!animation }} site-heading">
                <img src="static/img/oadoi-logo.png" alt="" class="logo">
                Leap over tall paywalls in a single bound.

                <!--
                Link to the open version of any DOI

                -->


                <!--
                Use oadoi.org/your_doi
                to find the Open Access version
                -->
            </h1>

            <div class="under">
                <div class="input-row">
                    <md-input-container md-no-float class="md-block example-selected-{{ main.exampleSelected }}" flex-gt-sm="">
                        <!--
                        <label ng-show="!animation" class="animating-{{ animation }}" >Paste your DOI here</label>
                        -->

                        <div class="us"  >oadoi.org/</div>
                        <input ng-model="main.doi"
                               ng-disabled="animation">
                        <md-progress-circular md-diameter="26px"></md-progress-circular>

                    </md-input-container>

                </div>
                <div class="text">
                    <div class="example-doi"
                         ng-class="{'animated fadeOut': animation}"
                         ng-hide="animation">
                        <span class="label">Paste in a DOI, or try this example: </span>
                        <span class="val" ng-click="selectExample()">http://doi.org/{{ exampleDoi }}</span>
                        <a href="https://doi.org/{{ exampleDoi }}" target="_blank">[paywall]</a>
                    </div>

                </div>
            </div>
        </div>




        <div class="has-results demo-step"
             ng-class="{'animated fadeInDown': animation==='2finish'}"
             ng-show="animation && animation==='2finish'">


            <h1 ng-show="main.resp.is_free_to_read"><i class="fa fa-check"></i> Success!</h1>
            <h1 ng-show="!main.resp.is_free_to_read"><i class="fa fa-times"></i> No dice</h1>

            <div class="result-url">
                <span class="label">Direct link: </span>
                <a class="main" href="https://oadoi.org/{{ main.resp.doi }}" target="_blank">
                    <i class="fa fa-unlock" ng-show="main.resp.free_fulltext_url"></i>
                    <i class="fa fa-lock" ng-show="!main.resp.free_fulltext_url"></i>
                    <span class="us">oadoi.org/</span><span class="doi">{{ main.resp.doi }}</span>
                    <i class="fa fa-external-link"></i>
                </a>

                <a class="mobile-help" href="https://oadoi.org/{{ main.resp.doi }}" target="_blank"><i class="fa fa-external-link"></i> click to view</a>

                <a class="api" href="https://api.oadoi.org/v1/publication/doi/{{ main.resp.doi }}" class="api-url" target="_blank">
                    <i class="fa fa-cogs"></i>
                    View this result in the API
                </a>

            </div>
            <div class="result-explanation">
                <span class="hybrid success result"
                      ng-show="main.resp.is_subscription_journal && main.resp.oa_color=='gold'">
                    This article is openly available as Hybrid OA in a subscription journal,
                </span>

                <span class="gold journal success result"
                      ng-show="main.resp.oa_color=='gold' && !main.resp.is_subscription_journal && main.resp.doi_resolver == 'crossref'">
                    This article is openly available in a <span class="gold-oa">Gold OA</span> journal,
                </span>

                <span class="gold repo success result"
                      ng-show="main.resp.oa_color=='gold' && main.resp.doi_resolver == 'datacite'">
                    This article is openly available in a <span class="gold-oa">Gold OA</span> repository,
                </span>


                <span class="green success result"
                      ng-show="main.resp.oa_color=='green'">
                    This article was
                    <a href="{{ main.resp.url }}">published behind a paywall,</a>
                    but we found a Green OA copy that’s
                    free to read<span ng-show="main.resp.is_boai_license" class="full-oa"> and reuse</span>,
                </span>


                <span class="not-oa failure result" ng-show="!main.resp.free_fulltext_url">
                    Sorry, this article is behind a paywall, and we couldn’t find a free copy anywhere.
                    Unfortunately, this is still true
                    <a href="https://arxiv.org/abs/1206.3664">for around 80% of scholarly articles.</a>
                </span>

                <span class="license-info" ng-show="main.resp.is_free_to_read">
                    <span class="license not-specified" ng-show="!main.resp.license">
                        with no license specified
                    </span>
                    <span class="license partly-open" ng-show="main.resp.license && !main.resp.is_boai_license">
                        under a
                        <a href="http://sparcopen.org/our-work/howopenisit/"><span>{{ main.resp.license }}</span> license</a>
                    </span>
                    <span class="license fully-open" ng-show="main.resp.license && main.resp.is_boai_license">
                        under a
                        <a href="http://sparcopen.org/our-work/howopenisit/">fully open license <span>({{ main.resp.license }})</span></a>
                    </span>
                </span>

                <!--
                <span class="host">
                    <span class="researchgate" ng-show="main.resp.free_fulltext_url.indexOf('har') > 0">in <a
                            href="http://osc.universityofcalifornia.edu/2015/12/a-social-networking-site-is-not-an-open-access-repository/">ResearchGate</a>
                    </span>
                    <span class="figshare" ng-show="main.resp.free_fulltext_url.indexOf('figshare') > 0">in figshare</span>
                </span>
                -->

                <span class="period">.</span>

            </div>






            <div class="results-options">
                <!--
                <a class="primary" href="about"><i class="fa fa-info-circle"></i> learn more</a>
                -->
                <a class="secondary"  href="" ng-click="tryAgain()"><i class="fa fa-undo"></i> try another</a>
                <a class="secondary"  href="https://goo.gl/forms/kFZUUZUeM9ze9uXr2" target="_blank">
                    <i class="fa fa-bullhorn"></i>
                    report error
                </a>


                <!--
                <a href="https://twitter.com/intent/tweet?url=https://oadoi.org/&text=Check out @oaDOI_org, an alternative DOI resolver that gets %23openaccess versions of paywalled articles. %23oaWeek2016"
                   target="_blank"
                   class="share twitter">
                    <i class="fa fa-twitter"></i>
                    <span class="text">share</span>
                </a>
                -->
            </div>

        </div>
    </div>
    <!--
    <div class="more" ng-show="!animation || animation=='2finish'">
        <i class="fa fa-chevron-down"></i>
        Learn more
    </div>
    -->
</div>