<div class="menu-items">
    <div class="source last-real-source-{{ $last }} first-real-source-{{ $first }}"
         ng-class="{viewThisSource==source.source_name}"
         ng-click="setWorkspace('posts', source.source_name)"
         ng-repeat="source in sources | orderBy: '-posts_count'">
        <span class="favicon">
            <img ng-src="/static/img/favicons/{{ source.source_name }}.ico">
        </span>
        <span class="name">{{ source.display_name }}</span>
        <span class="icon-right">
            <span class="new-last-week"
                  tooltip="{{ source.events_last_week_count }} new this week"
                  ng-show="source.events_last_week_count">
                <i class="fa fa-arrow-up"></i>
            </span>
            <span class="look-right" ng-show="workspace=='posts' && viewThisSource==source.source_name">
                <i class="fa fa-chevron-right"></i>
            </span>
        </span>
        <span class="value">
            {{ numFormat.short(source.posts_count) }}
        </span>
    </div>
</div>
<a class="learn-more" href="about/metrics">
    <i class="fa fa-info-circle"></i>
    <span class="text">Learn more about metrics</span>
</a>