
<!-- achievments workspace -->
<div class="workspace-view row achievements" ng-if="workspace=='achievements'">
    <div class="achievements-list">
        <div class="achievements workspace-item"
             ng-class="{'featured': $index < 3}"
             ng-repeat="badge in badges | orderBy: '-sort_score' | limitTo: badgeLimit ">
            <div class="icon">
                <i class="fa {{ getBadgeIcon(badge.group) }}"></i>
            </div>
            <div class="content">
                <div class="title">
                    <a href="/u/{{ person.orcid_id }}/badge/{{ badge.name }}">
                        {{badge.display_name}}
                    </a>
                </div>
                <div class="under">
                    {{ badge.description }}
                </div>
                <div class="earned-on" ng-show="badge.is_for_products">
                    Earned on
                    <a href="/u/{{ person.orcid_id }}/badge/{{ badge.name }}">
                        {{ badge.dois.length }} products
                    </a>
                </div>
                <div class="earned-on" ng-show="!badge.is_for_products">
                    Earned on whole profile
                </div>
            </div>
        </div>
        <div class="show-more"
             ng-show="badgeLimit==3 && badges.length > 3"
             ng-click="badgeLimit=999999999">
            <i class="fa fa-chevron-down"></i>
            show {{ badges.length - 3 }} more
        </div>
        <div class="show-fewer" ng-show="badgeLimit > 3" ng-click="badgeLimit=3">
            <i class="fa fa-chevron-up"></i>
            show fewer
        </div>
    </div>
</div>





<!-- products workspace -->
<div class="workspace-view row products" ng-if="workspace=='products'">
    <div class="products-list">
        <div class="products workspace-item"
             ng-repeat="product in products | orderBy : '-altmetric_score'">
            <div class="icon">
                <i class="fa fa-file-text-o"></i>
            </div>

            <div class="content">
                <div class="title">
                    <a href="u/{{person.orcid_id}}/product/doi/{{ product.doi }}">{{ product.title }}</a>
                </div>
                <div class="under">
                    <span class="year date">{{ product.year }}</span>
                    <span class="attr">
                        {{ product.journal }}
                        <span class="oa-icon oa-journal" ng-show="product.is_oa_journal">
                            <md-tooltip>
                                This is an Open Access journal
                            </md-tooltip>
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                        <span class="oa-icon oa-journal" ng-show="product.is_oa_repository">
                            <md-tooltip>
                                This is an open-access repository
                            </md-tooltip>
                            <i class="fa fa-unlock-alt"></i>
                        </span>
                    </span>
                </div>
                <div class="source-icons">
            <span class="source-icon"
                  ng-repeat="source in product.sources | orderBy: 'display_name'">
                <md-tooltip md-direction="top">
                    {{ source.posts_count }} {{source.display_name }}
                </md-tooltip>
                <img ng-src="/static/img/favicons/{{ source.source_name }}.ico" class="{{source.source_name}}">
            </span>
                </div>
            </div>
            <div class="metric">
                <md-tooltip md-direction="top">
                    Altmetric.com score
                </md-tooltip>
                {{ numFormat.short(product.altmetric_score) }}
                <i class="fa fa-arrow-up" ng-show="product.events_last_week_count > 0"></i>
            </div>
        </div>
    </div>
</div>



<!-- posts workspace -->
<div class="workspace-view row posts" ng-if="workspace=='posts'">
    <div class="posts-list">
        <div class="posts workspace-item"
             ng-repeat="post in posts | orderBy: '-posted_on' | filter: {source: viewThisSource}">
            <div class="icon">
                <img ng-src="/static/img/favicons/{{ post.source }}.ico">
            </div>
            <div class="content">
                <div class="title">
                    <a href="{{ post.url }}">
                        {{post.title}}
                        <i class="fa fa-external-link"></i>
                    </a>
                </div>
                <div class="under">
                    <span class="date">
                        <md-tooltip>
                            Posted on
                            {{ moment(post.posted_on).format("dddd, MMMM Do YYYY, h:mm:ss a") }}
                        </md-tooltip>

                        <span class="human-readable">
                            {{ moment(post.posted_on).fromNow() }}
                        </span>
                    </span>
                    <span class="attr">{{post.attribution}}</span>
                    cited
                    <a href="/u/{{person.orcid_id}}/product/doi/{{ post.citesDoi }}">
                        {{ post.citesTitle }}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- twitter workspace -->
<div class="workspace-view row tweeters" ng-if="workspace=='twitter'">
    <div class="tweeters-list">
        <div class="tweeters workspace-item"
             ng-repeat="tweeter in tweeters | orderBy: '-followers' | limitTo: 25">

            <div class="icon">
                <img ng-src="{{ tweeter.img }}">
            </div>
            <div class="content">
                <div class="title">
                    <a href="{{ tweeter.url }}">
                        {{tweeter.name}}
                    </a>
                    <span class="extra">
                        <span class="count">
                            {{  numFormat.short(tweeter.followers) }}
                        </span>
                        followers
                    </span>
                </div>
                <div class="under">
                    <span class="attr">{{tweeter.description}}</span>
                </div>
            </div>
        </div>
    </div>
</div>