<div class="article-page">
   <div class="header">
      <div class="articles-section">
         <div class="article" ng-show="ArticleService.data.article">
            <div class="metrics">
               <a href="/article/{{ ArticleService.data.article.pmid }}"
                  tooltip-placement="left"
                  tooltip="Citation percentile. Click to see comparison set."
                  class="percentile scale-{{ colorClass(ArticleService.data.article.percentile) }}">
                  <span class="val" ng-show="article.percentile !== null">
                     {{ ArticleService.data.article.percentile }}
                  </span>
               </a>
               <span class="scopus scopus-small"
                     tooltip-placement="left"
                     tooltip="{{ article.citations }} citations via Scopus">
                  {{ ArticleService.data.article.citations }}
               </span>
               <span class="loading" ng-show="article.percentile === null">
                  <i class="fa fa-refresh fa-spin"></i>
               </span>
            </div>

            <div class="article-biblio">
               <span class="title">{{ ArticleService.data.article.biblio.title }}</span>
               <span class="under-title">
                  <span class="year">({{ ArticleService.data.article.biblio.year }})</span>
                  <span class="authors">{{ ArticleService.data.article.biblio.author_string }}</span>
                  <span class="journal">{{ ArticleService.data.article.biblio.journal }}</span>
                  <a class="linkout"
                     href="http://www.ncbi.nlm.nih.gov/pubmed/{{ ArticleService.data.article.biblio.pmid }}">
                        <i class="fa fa-external-link"></i>
                     </a>
               </span>
            </div>
         </div>
      </div>
   </div>

   <div class="articles-infovis journal-lines">
      <ul class="journal-lines">
         <li class="single-journal-line" ng-repeat="journal in ArticleService.data.article.refset.journal_histograms.journals">
            <span class="journal-name">
               {{ journal.name }}
               <span class="article-count">
                  ({{ journal.num_articles }})
               </span>
            </span>
            <div class="journal-articles">
               <!-- hardcoded bar width of 10px.... -->
               <div style="left: {{ ArticleService.data.article.citations * 10 + 10 }}px" class="owner-article-scopus">

               </div>
               <a class="journal-article"
                   ng-repeat="bin in journal.scopus_bins"
                   href="http://www.ncbi.nlm.nih.gov/pubmed/{{ article.biblio.pmid }}"
                   target="_blank"
                   tooltip="{{ bin.scopus_count }}: {{ bin.articles.length }} articles">
                  <span style="height: {{ bin.articles.length / 17 * 100 }}%"
                       class="bar"></span>
               </a>
            </div>
         </li>
         <div class="fake-journal">

         </div>
      </ul>
   </div>



</div>